body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.pulse{
  border:10px solid blue;
  display:block;
  position:absolute;
}
.pulseToggle {
  -webkit-animation: scale 1s infinite linear;
}

@-webkit-keyframes scale{
  0% {
    -webkit-transform: scale(1);
  }

  25% {
    -webkit-transform: scale(2);
  }

  50% {
    -webkit-transform: scale(1);
  }

  75% {
    -webkit-transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

.rotate{
  border:13px solid green;
  border-radius: 0;
  display:block;
  position:absolute;
}
.rotateToggle {
  -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}