body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://hdwallsource.com/img/2014/6/3d-computer-backgrounds-17548-18108-hd-wallpapers.jpg");
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.pulse{
  border:10px solid blue;
  display:block;
  position:absolute;
}
.pulseToggle {
  -webkit-animation: scale 1s infinite linear;
}

@-webkit-keyframes scale{
  0% {
    -webkit-transform: scale(1);
  }

 /* 25% {
    -webkit-transform: scale(2);
  }*/

  50% {
    -webkit-transform: scale(2);
  }

 /* 75% {
    -webkit-transform: scale(2);
  }*/
  100% {
    -webkit-transform: scale(1);
  }
}

.rotate{
  border:13px solid green;
  border-radius: 0;
  display:block;
  position:absolute;
}
.rotateToggle {
  -webkit-animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(0deg);
  }

  75% {
    -webkit-transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.practice{
  border:13px solid yellow;
  border-radius: 0;
  display:block;
  position:absolute;
}
.practiceToggle {
  -webkit-animation: translation 1s infinite linear;
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translate(0,0);
  }

  25% {
    -webkit-transform: translate(75px,0);
  }

  50% {
    -webkit-transform: translate(75px, 75px);
  }

  75% {
    -webkit-transform: translate(0, 75px);
  }
  100% {
    -webkit-transform: translate(0,0);
  }
}

.right{
  border:13px solid pink;
  border-radius: 0;
  display:block;
  position:absolute;
}

.rightToggle {
  -webkit-animation: spinRight 1s infinite linear;
}

@-webkit-keyframes spinRight {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(90deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
  }

  75% {
    -webkit-transform: rotate(270deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.left{
  border:13px solid purple;
  border-radius: 0;
  display:block;
  position:absolute;
}

.leftToggle {
  -webkit-animation: spinLeft 1s infinite linear;
}

@-webkit-keyframes spinLeft {
  0% {
    -webkit-transform: rotate(0deg);
  }

  25% {
    -webkit-transform: rotate(-90deg);
  }

  50% {
    -webkit-transform: rotate(-180deg);
  }

  75% {
    -webkit-transform: rotate(-270deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}